<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot Card Game</title>
</head>
<body>
    <main>
        <div id="tarot-game">
            <div class="message-container end-game">
                <h4>Please, submit the chosen cards!</h4>
                <button type="button" class="btn btnSubmit">
                    Submit the 5 cards
                </button>
            </div>
            <div class="message-container begin-new-game">
                <h4>... or start new game</h4>
                <button type="button" class="btn btnShuffle">
                    Shuffle the cards
                </button>
            </div>
        </div>
    </main>
</body>
</html>